*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fd0404;
    width: 100%;
    padding: 15px 0;
}
.navbar .logo{
    color: #ffffff;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links li a{
    color: #ffffff;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.flex-item{
    border: 1px solid #ccc;
    padding: 20px;
    width: 220px;
    margin: 10px;
}