*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.logo-rotation{
    animation: rotate 10s linear infinite;
}

img:hover{

transform:rotate(360deg);
transition: transform 1s ease;    
}
