*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #0f0202;
}

.product-card{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: 0.4s ease;
}

.product-card:hover{
    transform: translateY(-10px);
}
