* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo img{
    width: 500px;
    height: 400px;
}

.logo1 img{
    width: 500px;
    height: 300px;
}

.pro button{
    background-color: rgba(116, 7, 49, 0.832);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.pro button:hover {
    background-color: black;
    color: white;
}